server:
  port: 8888

spring:
  application:
    name: config-server

  security:
    user:
      name: config
      password: password123

  cloud:
      config:
        server:
          git:
            uri: https://github.com/sem1hs/config-server
            default-label: main
            search-paths: src/main/resources
